@import url(https://db.onlinewebfonts.com/c/a0fc537ed7864b9a1f6596090483a116?family=Sol+W01+Medium);

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: top;
  gap: 5vw;

  &_Selected div {
    position: relative;
    border-image: url(https://i.ibb.co/TYF3p76/Brush.png);
    border-image-outset: 0px 10px 0px 40px;
    border-image-slice: 0% 0% 10% 0% fill;

    // transform: translateX(75px);
    ::after {
      content: "";
    }
  }
  &_Selected {
    padding-left: 75px;
    // transform: translateX(75px);
  }

  > a {
    font-family: var(--font-paper-sign);
    font-size: clamp(80px, 10vw, 150px);
    white-space: nowrap;

    transition: all 0.25s ease-in-out;
  }

  > div {
    font-family: "Papyrus";
    font-size: clamp(21px, 2.5vw, 40px);
    max-width: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > a div {
      width: fit-content;
      padding: 0 8%;

      transition: all 0.25s ease-in-out;
    }

    > a:hover div {
      border-image: url(https://i.ibb.co/mR626TC/brush-Stroke-Blacker.png);
      border-image-outset: 0px 10px 0px 40px;
      border-image-slice: 0% 0% 10% 0% fill;
      transition: all 0.25s ease-in-out;
    }
  }

  &_Current,
  &_CV,
  &_Contact {
    transition: all 0.25s ease-in-out;
  }

  &_Current:hover,
  &_CV:hover,
  &_Contact:hover {
    // background-color: #88d7c0;
    padding-left: 75px;
    // transform: translateX(75px);
    transition: all 0.25s ease-in-out;
  }
}

.Main {
  grid-area: second;

  &_Wrapper {
    font-family: var(--font-paper-sign) !important;

    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;

    .Name {
      height: 200px;
      > h1 {
        cursor: pointer;
        font-size: 10em;
        margin: 0;

        font-weight: 500;
      }
    }

    .Nav {
      font-family: "Papyrus";
      font-size: 2rem;

      display: flex;
      flex-direction: column;

      > div {
        width: 121px;
        height: 50px;
      }

      .current,
      .cv,
      .contact {
        position: absolute;
        transition: all 0.25s ease-in-out;
        width: 121px;
      }

      .current:hover,
      .cv:hover,
      .contact:hover {
        cursor: pointer;
        padding-left: 75px;
        transition: all 0.25s ease-in-out;
      }
    }
  }
}

.Front_Image {
  grid-area: third;

  background-color: silver;
}
